body {
    margin: 0;
    padding: 0;
    background-color: #9DB2BF;
}

.html__preview {
    padding: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
}

.form-control {
    width: 700px;
    height: 300px;
    min-width: 700px;
    min-height: 300px;
}